
.mic {
  position: relative;
  width: 20px;
  height: 30px;
  border: 3px solid #2563eb;
  border-radius: 12px;
  
  box-sizing: border-box;
  transform: scale(0.3)
}

/* Curved holder */
.mic::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 36px;
  height: 18px;
  border: 3px solid #2563eb;
  border-top: none;
  border-radius: 0 0 18px 18px;
  transform: translateX(-50%);
  box-sizing: border-box;
}

/* Stem + base */
.mic::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -34px;
  width: 4px;
  height: 22px;
  background: #2563eb;
  transform: translateX(-50%);
  box-shadow: 0 20px 0 0 #2563eb;
}

